<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lumina.mapper.GroupMapper">

    <resultMap id="modelGroupConfigResultMap" type="com.lumina.dto.ModelGroupConfig">
        <result column="name" property="name"/>
        <result column="balance_mode" property="balanceMode"/>
        <result column="first_token_timeout" property="firstTokenTimeout"/>
        <collection property="items" ofType="com.lumina.dto.ModelGroupConfigItem">
            <result column="provider_id" property="providerId"/>
            <result column="provider_name" property="providerName"/>
            <result column="model_name" property="modelName"/>
            <result column="weight" property="weight"/>
            <result column="api_key" property="apiKey"/>
            <result column="base_url" property="baseUrl"/>
        </collection>
    </resultMap>

    <resultMap id="groupResultMap" type="com.lumina.entity.Group">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="balance_mode" property="balanceMode"/>
        <result column="match_regex" property="matchRegex"/>
        <result column="first_token_timeout" property="firstTokenTimeout"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <collection property="groupItems"
                    ofType="com.lumina.entity.GroupItem"
                    select="selectGroupItemsByGroupId"
                    column="{id=id}"/>
    </resultMap>

    <select id="getModelGroupByName" resultMap="modelGroupConfigResultMap">
        SELECT mg.`name`,
               mg.balance_mode,
               mg.first_token_timeout,
               mgi.model_name,
               mgi.weight,
               p.base_url,
               p.api_key,
               p.id AS provider_id,
               p.`name` AS provider_name
        FROM model_groups mg
        JOIN model_group_items mgi ON mg.id = mgi.group_id
        JOIN providers p ON p.id = mgi.provider_id
        WHERE mg.`name` = #{modelGroupName}
        AND p.is_enabled = 1
        AND FIND_IN_SET(mgi.model_name, p.model_name) > 0
        </select>

    <select id="getGroupsByPage" resultMap="groupResultMap">
        SELECT *
        FROM model_groups
    </select>

    <select id="selectGroupItemsByGroupId" resultType="com.lumina.entity.GroupItem">
        SELECT g.*,
               p.name AS providerName
        FROM model_group_items g
        JOIN providers p ON p.id = g.provider_id
        WHERE g.group_id = #{id}
        AND p.is_enabled = 1
    </select>

</mapper>